<div class="container text-center">
    <div class="col-xs-12">
        <div class="row g-3 mb-3">
            <div class="col-md-6 col-xxl-3">
                <div class="card h-md-100 text-bg-light">
                    <div class="card-header pb-2">
                        <b>Product</b>
                    </div>
                    <div class="card-body d-flex flex-column justify-content-end">
                        <div class="row">
                            <div class="col">
                                <p class="font-sans-serif lh-1 mb-1 fs-4">47</p>
                                <span class="badge rounded-pill text-bg-secondary">N/A %</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xxl-3">
                <div class="card h-md-100 text-bg-success">
                    <div class="card-header border-bottom pb-2">
                        <b>Orders</b>
                    </div>
                    <div class="card-body d-flex flex-column justify-content-end">
                        <div class="row">
                            <div class="col">
                                <p class="font-sans-serif lh-1 mb-1 fs-4">1567</p>
                                <span class="badge rounded-pill text-bg-success">+3.5%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xxl-3">
                <div class="card h-md-100 text-bg-secondary">
                    <div class="card-header border-bottom pb-2">
                        <b>Customers</b>
                    </div>
                    <div class="card-body d-flex flex-column justify-content-end">
                        <div class="row">
                            <div class="col">
                                <p class="font-sans-serif lh-1 mb-1 fs-4">1.7K</p>
                                <span class="badge rounded-pill text-bg-success">+5.5%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xxl-3">
                <div class="card h-md-100 text-bg-dark">
                    <div class="card-header border-bottom pb-2">
                        <b>Sales</b>
                    </div>
                    <div class="card-body d-flex flex-column justify-content-end">
                        <div class="row">
                            <div class="col">
                                <p class="font-sans-serif lh-1 mb-1 fs-4">{{470000 | currency: 'INR'}}</p>
                                <span class="badge rounded-pill text-bg-success">+10.5%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="row g-3 mb-3">
            <div class="col-md-6 col-xxl-4">
                <div class="card data-container">
                    <img src="https://static.seekingalpha.com/uploads/2015/2/10/saupload_fdf85dbe3186a25ccb3405b2c69f5b73.png"
                        alt="">
                    <div class="card-footer">
                        <small><a class="nav-link" href="#">See More...</a></small>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xxl-4">
                <div class="card data-container">
                    <img src="https://cloud.google.com/static/looker/docs/images/dashboard-reference-pie-610.png"
                        alt="">
                    <div class="card-footer">
                        <small><a class="nav-link" href="#">See More...</a></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>